
<footer class="site-footer">
  <div class="wrapper footer-col-wrapper">
    <div class="footer-col1">
      <div>Gustavo Aguilar</div>
      <div>University of Houston</div>
      <div>{{ site.email }}</div>
    </div>
    <div class="footer-col2">
      <div class="footer-social-media">
          <a href="https://scholar.google.com/citations?user=YWSXtKoAAAAJ" target="_blank">
            <span class="ai ai-google-scholar-square"></span>
          </a>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <span class="fa fa-linkedin-square"></span>
          </a>
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="fa fa-github-square"></span>
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <span class="fa fa-twitter-square"></span>
          </a>
          <a href="{{ site.baseurl }}/feed.xml" target="_blank">
            <span class="fa fa-rss-square"></span>
          </a>
      </div>
    </div>
  </div>

</footer>




